@import url('https://fonts.googleapis.com/css?family=Exo 2:700|Exo 2:400');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root.automatic {
        --text: #562b31;
        --background: #f3e7e9;
        --primary: #eabca4;
        --secondary: #e4c8cc;
        --accent: #a65461;
        --success: #81e052;
        --danger: #ee2b3b;
        --warning: #f9c753;

        --card-bg: rgba(0, 0, 0, 0.03);
        --hover-bg: rgba(0, 0, 0, 0.05);
    }
}

@media (prefers-color-scheme: dark) {
    :root.automatic {
        --text: #f8f1f2;
        --background: #180c0e;
        --primary: #5b2e15;
        --secondary: #371b1f;
        --accent: #ab5967;
        --success: #58c322;
        --danger: #d41121;
        --warning: #f7b722;

        --card-bg: rgba(255, 255, 255, 0.03);
        --hover-bg: rgba(255, 255, 255, 0.05);
    }
}

:root.light {
    --text: #562b31;
    --background: #f3e7e9;
    --primary: #eabca4;
    --secondary: #e4c8cc;
    --accent: #a65461;
    --success: #81e052;
    --danger: #ee2b3b;
    --warning: #f9c753;

    --card-bg: rgba(0, 0, 0, 0.03);
    --hover-bg: rgba(0, 0, 0, 0.05);
}

:root.dark {
    --text: #f8f1f2;
    --background: #180c0e;
    --primary: #5b2e15;
    --secondary: #371b1f;
    --accent: #ab5967;
    --success: #58c322;
    --danger: #d41121;
    --warning: #f7b722;

    --card-bg: rgba(255, 255, 255, 0.03);
    --hover-bg: rgba(255, 255, 255, 0.05);
}

body {
    @apply font-body font-normal text-base text-text;
}

h1,
h2,
h3,
h4,
h5 {
    @apply font-bold font-heading;
}

html {
    font-size: 100%;
} /* 16px */

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

small {
    @apply text-sm;
}

html,
body,
:root,
#app {
    margin: 0;
    padding: 0;
    background-color: var(--background);
    overflow: hidden;
}

#app {
    height: 100vh;
    width: 100vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-track-piece {
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
}

.v-popper--theme-dropdown {
    background-color: transparent !important;
    border-radius: 0 !important;
}

.v-popper--theme-dropdown .v-popper__inner {
    border: none !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.v-popper--theme-dropdown .v-popper__arrow-container {
    display: none !important;
}
